.row {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  :first-child {
    margin-left: 10%;
  }

  :not(:first-child) {
    border-bottom: 1px solid black;
    margin-left: 3%;
  }

  :nth-child(3) {
    border-bottom: none;
    margin-bottom: 2%;
  }
}
