.searchForm{
    width: 60%;
}

.search{
    background-color: inherit;
    border: none;
    border-bottom: 2px solid #00A36C;
    height: 2.5rem;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 3%;
    &:focus {
        outline: none;
    }

    &::placeholder{
        // font-size: 1.2rem;
    }
}
